.page {
  margin: auto;
  padding: 160px 0 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  color: lightgray;
}

.page .list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.page .list ul {
  list-style: none;
  padding: 0;
}

.page .list ul li {
  padding: 1rem;
  border-radius: 5px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5) 50%,
    #ff5858 50%,
    #cc2e5d
  );
  background-size: 200%;
  transition: 0.25s ease-out;
}

.page .list ul li:hover {
  background-position: -100%;
  color: white;
}

.imgbox {
  display: flex;
  justify-content: center;
}

.desc {
  padding: 1rem;
}

@media (min-width: 320px) and (max-width: 768px) {
  .page {
    font-size: 0.75rem;
  }
  .page .list {
    display: grid;
    grid-template-columns: 1fr;
  }
  .page .list ul li {
    padding: 0.25rem;
  }
}
