.container {
  margin: auto;
  padding: 160px 0 100px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
}

.greeting {
  display: flex;
  flex-direction: column;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  width: 80%;
  padding: 1rem;
  margin: 0rem 2rem;
  /* height: 6rem;
  color: white;
  border: white 2px solid;
  background: linear-gradient(
    90.21deg,
    rgba(170, 54, 124, 0.5) -5.91%,
    rgba(74, 47, 189, 0.5) 111.58%
  ); */

  font-size: 4.5rem;
  font-weight: 900;
  text-decoration: none;
  background: linear-gradient(to right, #ccc 50%, #ff5858 50%, #cc2e5d);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.25s ease-out;
}

.welcome:hover {
  background-position: -100%;
}

.rolling {
  color: crimson;
  font-size: 2rem;
  margin: 0rem 2rem;
}
.rolling span {
  color: rgb(0, 195, 255);
  text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
}
.desc {
  color: lightgray;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 1.5rem;
  max-width: 40rem;
  width: 50vw;
  margin: 1rem 0rem;
}

.desc .blog {
  color: aquamarine;
  margin-bottom: 2rem;
}

.desc .blog:hover {
  color: chartreuse;
  text-decoration: underline;
}

/* on moblie */
@media (min-width: 320px) and (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .welcome {
    background-position: -100%;
    font-size: 1.75rem;
  }
  .greeting {
    align-items: center;
  }
  .rolling {
    text-align: center;
    font-size: 1rem;
  }
  .desc {
    width: 80%;
    font-size: 0.75rem;
  }
  .desc .blog {
    color: chartreuse;
    font-size: 1.2rem;
    text-decoration: underline;
  }
  .img-box {
    width: 300px;
    height: 300pox;
  }
  .img-box img {
    width: 100%;
    height: 100%;
  }
}

.container img {
  animation: updown 3s linear infinite;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
