/* skill */

.skill-box {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80vw;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.skill-box .skill-logo {
  border-radius: 5px;
  width: 250px;
  height: 100px;
  margin-top: 10px;
  text-align: center;
}
.skill-box .skill-logo h3 {
  font-size: 72px;
  color: white;
  margin: 0;
}
.skill-desc {
  margin-top: 2rem;
  color: lightgray;
  width: 70vw;
  overflow: visible;
}

.skill-list {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.skill-list h3 {
  margin: 0;
  text-align: center;
}

.skill-list button {
  background: none;
  border: none;
  color: palegreen;
  font-size: 2rem;
  height: 3rem;
}

.skill-list button:hover {
  color: aquamarine;
  font-weight: 900;
}

.skill-category {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.skill-category li {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: lightgray;
  margin: 1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .skill-list button {
    font-size: 2rem;
  }
  .skill-desc {
    font-size: 0.75rem;
  }
  .skill-category {
    width: 60vw;
  }
  .skill-category li {
    margin: 0.5rem;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .skill-list button {
    font-size: 1.5rem;
  }
  .skill-category {
    grid-template-columns: 1fr 1fr;
  }
  .skill-category li {
    margin: 0.25rem;
  }
  .skill-category li h3 {
    font-size: 1rem;
  }
  .skill-desc {
    font-size: 0.75rem;
  }
}
