.showbox {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showbox .box {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: xx-large;
  width: 300px;
  opacity: 0;
  transition: 1s ease;
}

.showbox .box.left {
  translate: 30%;
}

.showbox .box p {
  margin-top: 2rem;
  font-size: medium;
}

.showbox .box.active {
  opacity: 1;
  translate: 0%;
}
