@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    "Poppins" Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  min-height: 100vh;
  background-color: #f0ece4;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  /* cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='42' height='64' viewport='0 0 100 100' style='fill:black;font-size:36px;'><text y='50%'>👻</text></svg>")
      16 0,
    auto; */
}

button:hover {
  cursor: pointer;
}

/** contents container*/
#container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 60rem;
  min-height: calc(100vh - 80px - 17rem);
  width: 80vw;
}

/** on PC sb, on Mobile d-column */
#d-variaty {
  display: flex;
  justify-content: space-between;
}

/* on moblie */
@media (min-width: 320px) and (max-width: 920px) {
  #d-variaty {
    flex-direction: column;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

ul {
  margin: none;
  padding: none;
}

.text-center {
  text-align: center;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.circle {
  border-radius: 100%;
}

.d-flex {
  display: flex;
}
.p-rel {
  position: relative;
}

.flex-column {
  flex-direction: column;
}

.justify-cc {
  justify-content: center;
}
.justify-sb {
  justify-content: space-between;
}

.c-100 {
  width: 100%;
}

.h-full {
  height: 100%;
}

.align-ic {
  align-items: center;
}

.p-05 {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.p-4 {
  padding: 4rem;
}
.p-5 {
  padding: 5rem;
}
.p-6 {
  padding: 6rem;
}

.w-10 {
  width: 10rem;
}

.w-15 {
  width: 15rem;
}

.w-20 {
  width: 20rem;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.mt-4 {
  margin-top: 4rem;
}
.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.mb-5 {
  margin-bottom: 5rem;
}

.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}
.mr-4 {
  margin-right: 4rem;
}
.mr-5 {
  margin-right: 5rem;
}

.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}
.ml-4 {
  margin-left: 4rem;
}
.ml-5 {
  margin-left: 5rem;
}

.font-15 {
  font-size: 1.5rem;
}
.font-20 {
  font-size: 2rem;
}

.tc-red {
  color: red;
}
.tc-green {
  color: green;
}
.tc-blue {
  color: blue;
}
.tc-yellow {
  color: yellow;
}
