.welcome {
  display: flex;
  align-items: center;
  max-width: 40rem;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
  text-decoration: none;
  background: linear-gradient(to right, #ccc 50%, #ff5858 50%, #cc2e5d);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.25s ease-out;
}

.welcome:hover {
  background-position: -100%;
}

.short-desc {
  font-size: x-large;
  font-weight: 800;
}

/* on moblie */
@media (min-width: 320px) and (max-width: 920px) {
  .welcome {
    background-position: -100%;
  }
}
